nav {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

body {
  font-family: 'Black Ops One', sans-serif;
    background: rgb(22, 171, 212);
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      #1098f7 48%,
      #F0EDEE 100%
    );
  }
  
  p {
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
  }
  
  h1 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 3rem;
    font-style: italic;
    color: crimson;
    text-align: center;
    margin-top: 2rem;
  }
  
  h2 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
  }
  
  ul {
    color: crimson;
    list-style: none;
    display: flex;
    justify-content: space-around; /* Spread out the navigation links */
    padding: 0;
  }
  
  img {
    width: 25%;
    height: 25%;
  }
  
  .image-container {
    width: 100%;
    justify-content: center;
    display: flex;
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ccc; /* Change the color on hover if desired */
}
