
h1 {
  color: #4379E6;
}

p {
  color: #81E643;
  font-family: Black Ops One;
}

p1{
  color:#56FCCA;
}

li{
  color:#FFE365;
  margin-top: 20px;
  
}

header {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #BA4AFE;
  color: white ;
}

footer{
  font-size: 20px;
  background-color:#4379E6; color:#FFE365;
  text-align: left;
}

aside {
  width: 40%;
  padding-left: 50px;
  margin-left: 50px;
  float: right;
  box-shadow: inset 5px 0 5px -5px #BA4AFE;
  font-style: italic;
  color: #BA4AFE;
}

img{
  height: 25%;
  width: 25%;
}

{div 
  width:150px;
  height:150px;
  background-color: #4379E6;
  animation-name: boxanimation;
  animation-duration: 5s;
  }

  @keyframesboxanimation {
    0% {background-colour:#BA4AFE;}
    25% {background-colour: #4379E6;}
    50% {background-color: #56FCCA;}
    75% {background-color: #81E643;}
    100% {background-color:#FFE365;}
  }