h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-family:'Times New Roman', Times, serif;
}

body{
    text-align:center;
    padding-left:20%;
    padding-right:20%;
}

ul{
    text-align:left;
}

ul li{
    margin-bottom: 5px;
}

footer{
    text-align:left;
    padding-top:40px;
}

img{
    float:right;
}

button{
    float:right;
}