:root{
  --lilac: #CCBEF2;
  --deepBlue: #5D5CFA;
  --grey: #A6B5E3;
  --lightBlue: #AAD2FA;
  --seafoam: #A3DDF0;
  --containerSize: 200px;
  --animationSize: 20px;
  --animationColor: var(--seafoam);
}

body {
  background-image: linear-gradient(to bottom, var(--lilac), var(--lightBlue), var(--seafoam));
}

h2 {
  color: var(--lilac);
  text-align: center;
  background-color: var(--deepBlue);
}

.containerTitle {
  position: relative;
  text-align: center;
  color: var(--lilac);
}

.containerTitle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.9)
}

.title{
  background-color:rgba(93, 92, 250, 0.75);
  text-align:center;
  position: absolute;
  top:50%;
  right:50%;
  transform:translate(50%, -50%);
  padding: 10px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: var(--containerSize);
  height: var(--containerSize);
  position: relative;
  background-image: linear-gradient(to bottom, var(--grey), var(--lightBlue));
}

#topRight {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#topRightCorner {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#topLeft {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#topLeftCorner {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#bottomRight {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#bottomRightCorner {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#bottomLeft {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}

#bottomLeftCorner {
  width: var(--animationSize);
  height: var(--animationSize);
  position: absolute;
  background: var(--animationColor);
}