html {
    cursor: none;
    /* hide normal cursor */
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    min-height: 100vh;
    /* set min height to 100% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 30%;
    /* Set width of the centered container with */
}

h1 {
    position: relative;
    font-size: 5rem;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px
}

.cursor-dot {
    width: 3px;
    height: 3px;
    background-color: white;
}

.cursor-outline {
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: difference; /* cool effect */
    transition: 0.1s;
}

ul {
    margin-top: 5px;
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h1:hover~.cursor-outline {
    transform: scale(5);
}